/* 2. Global ------------------------------------------*/

a:hover, a:focus, a:active { text-decoration: none; outline: none; @include transition(all 300ms ease 0s); }
input, select, textarea { outline: none; @include appearance( unset ); }
input:focus, select:focus, textarea:focus { outline: none; @include box-shadow-input(none); }
input[type=checkbox] { @include appearance( checkbox ); }
input[type=radio] { @include appearance( radio ); }
img { max-width: 100%; height: auto; }
figure { margin: 0; }
p { margin-bottom: 0px; line-height: 1.67; font-size: 15px;}
h1, h2, h3, h4, h5, h6 { 
    line-height: 1.2; 
    margin: 0; 
    padding: 0;  
    font-family: 'Montserrat'; 
    font-weight: 500; 
    color: $black-title;
}
.form-control:focus { box-shadow: none; }
.widget p { margin: 0; }
.main { display: inline-block; width: 100%;}
.fix-container { width: 900px; margin: auto; }
.fw { float: left; width: 100%; }
.stick{ position: fixed; z-index: 999; background: rgba(225,225,225,0.8); }
.clear { clear: both; }
body {
	font-size: 14px;
    line-height: 1.67;
    color: $grey-primary;
    background: #fff;
    font-family: 'Bitter';
    font-weight: 400;
}
.display-flex  {
    @extend display-flex;
    @include justify-content(space-between);
    @include align-items(center);
}

.display-flex-center  {
    @extend display-flex;
    @include justify-content(center);
    @include align-items(center);
}

.position-center {
    position: absolute;
    top: 50%;
    left: 50%;
    @include transform(translate(-50%,-50%));
}

#back-to-top {
    position: fixed;
    text-align: center;
    right: 30px;
    bottom: 30px;
    color: #fff;
    cursor: pointer;
    -webkit-border-radius: 2px;
    -moz-border-radius: 2px;
    border-radius: 2px;
    z-index: 10000;
    height: 40px;
    width: 40px;
    line-height: 45px;
    background: rgba(0, 0, 0, 0.4) no-repeat center;
    -webkit-transition: background-color 0.1s linear;
    -o-transition: background-color 0.1s linear;
    -moz-transition: background-color 0.1s linear;
    transition: background-color 0.1s linear;
    .fa {
        font-size: 25px;
        font-weight: 700;
    }
  }
  
#back-to-top:hover {
    background: black no-repeat center;
}

/*Preloader*/
.images-preloader {
    position: fixed;
    z-index: 100001;
    background-color: #eee;
    width: 100%;
    height: 100%;
  }
  .rectangle-bounce {
    text-align: center;
    position: absolute;
    top: 50%;
    left: 50%;
    margin-left: -15px;
    margin-top: -10px;
  }
  #preloader_1 {
    position: relative;
  }
  #preloader_1 span {
    display: block;
    bottom: 0px;
    width: 9px;
    height: 5px;
    background: #ffae4e;
    position: absolute;
    animation: preloader_1 1.5s infinite ease-in-out;
  }
  #preloader_1 span:nth-child(2) {
    left: 11px;
    animation-delay: .2s;
  }
  #preloader_1 span:nth-child(3) {
    left: 22px;
    animation-delay: .4s;
  }
  #preloader_1 span:nth-child(4) {
    left: 33px;
    animation-delay: .6s;
  }
  #preloader_1 span:nth-child(5) {
    left: 44px;
    animation-delay: .8s;
  }
  @keyframes preloader_1 {
    0% {
      height: 5px;
      transform: translateY(0px);
      background: #ffae4e;
    }
    25% {
      height: 30px;
      transform: translateY(15px);
      background: #ffae4e;
    }
    50% {
      height: 5px;
      transform: translateY(0px);
      background: #ffae4e;
    }
    100% {
      height: 5px;
      transform: translateY(0px);
      background: #ffae4e;
    }
}

.socials {
    ul {
        @extend list-type-ulli;
        li {
            float: left;
            margin-right: 8px;
            &:last-child {
                margin-right: 0px;
            }
            a {
                i {
                    width: 40px;
                    height: 40px;
                    color: #fff;
                    font-size: 15px;
                    @include border-radius(50%);
                    @extend display-flex;
                    @include justify-content(center);
                    @include align-items(center);
                    border: 1px solid rgb(102, 102, 102);
                }
                &:hover {
                    i {
                        background: $yellow-primary;
                        border: 1px solid transparent;
                    }
                }
            }
        }
    }
}
.slide-title, .slide-btn {
    font-family: 'Montserrat'; 
}
.slide-title-uppercase {
    text-transform: uppercase;
}
.slide-btn {
    background: $yellow-primary;
    color: #fff;
    @include border-radius(25px);
    &:hover {
        color: #fff;
        background-color: lighten( $yellow-primary, 10% );
    }
}
.title {
    a {
        color: $black-title;
    }
    &:hover {
        a {
            color: $yellow-primary;
        }
    }
}
.section-title {
    margin-bottom: 70px;
    h2 {
        font-size: 34px;
        color: $black-title;
        position: relative;
        padding-bottom: 20px;
        font-weight: bold;
        &:after {
            position: absolute;
            content: "";
            width: 80px;
            height: 3px;
            background: $blue-primary;
            bottom: 0;
        }
    }
}
.section-title-black {
    margin-bottom: 60px;
    text-align: center;
    position: relative;
    z-index: 99;
    h2 {
        font-size: 34px;
        padding-bottom: 11px;
        font-weight: bold;
    }
    .title-desc {
        font-size: 16px;
        width: 55%;
        margin: 0 auto;
    }
}
.section-title-white {
    margin-bottom: 62px;
    text-align: center;
    position: relative;
    z-index: 99;
    
    h2 {
        font-size: 34px;
        color: #fff;
        padding-bottom: 11px;
        font-weight: bold;
    }
    .title-desc {
        font-size: 16px;
        color: #fff;
        width: 55%;
        margin: 0 auto;
    }
}
.section-title-left {
    h2 {
        &:after {
            left: 0;
        }
    }
}
.section-title-center {
    text-align: center;
    h2 {
        &:after {
            left: 50%;
            @include transform(translateX(-50%));
        }
    }
}
.section-padding-large {
    padding-top: 90px;
    padding-bottom: 120px;
}
.bg-parten {
    background: transparent url('../images/bg-parten.png') repeat scroll center center;
    position: relative;
    &:after {
        position: absolute;
        content: "";
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        background: rgba(44,110,213,0.98);
        z-index: 9;
    }
}
.bg-parten-2 {
    background: transparent url('../images/bg-parten-2.png') repeat scroll center center;
}
.slick-initialized .slick-slide {
    outline: none;
}
.background-grey {
    background: $grey-background;
}

.au-btn {
    font-family: 'Montserrat';
    font-size: 15px;
    padding: 13px 65px;
    color: #FFF;
    display: inline-block;
    &:hover {
        color: #fff;
    }
}
.fancybox-navigation .disabled {
    display: none;
}
.hover-scale {
    figure {
        position: relative;
        overflow: hidden;
        img {
            @include transition(all 0.5s ease-in-out);
            @include transform(scale(1));
        }
        .hover-border {
            position: absolute;
            top: 0;
            left: 0;
            padding: 0px;
            width: 100%;
            height: 100%;
            opacity: 0;
            background: rgba(0, 0, 0, 0.4);
            @include transition(all 0.3s ease-in-out);
            
            a {
                width: 100%;
                @extend display-flex;
                @include justify-content(center);
                @include align-items(center);
                height: 100%;
                z-index: 999;
                position: relative;
            }
            i {
                background: #ec910e;
                opacity: 0;
                @include transform(scale(0));
                width: 50px;
                height: 50px;
                text-align: center;
                @include border-radius(50%);
                color: #fff;
                @extend display-flex;
                @include justify-content(center);
                @include align-items(center);
            }
            &:before {
                position: absolute;
                content: '';
                opacity: 0;
                top: 30px;
                right: 15px;
                bottom: 30px;
                left: 15px;
                border-top: 1px solid #fff;
                border-bottom: 1px solid #fff;
                @include transform(scale(0, 1));
                -webkit-transform-origin: 0 0;
                transform-origin: 0 0;
                -webkit-transition: opacity 0.35s, -webkit-transform 0.35s;
                transition: opacity 0.35s, transform 0.35s;
            }
            &:after {
                position: absolute;
                content: '';
                opacity: 0;
                top: 15px;
                right: 30px;
                bottom: 15px;
                left: 30px;
                border-right: 1px solid #fff;
                border-left: 1px solid #fff;
                @include transform(scale(1, 0));
                -webkit-transform-origin: 100% 0;
                transform-origin: 100% 0;
                -webkit-transition: opacity 0.35s, -webkit-transform 0.35s;
                transition: opacity 0.35s, transform 0.35s;
            }
        }
    }
    &:hover {
        figure {
            img {
                @include transform(scale(1.2));
            }
            .hover-border {
                &:before, &:after{
                    opacity: 1;
                    @include transform(scale(1));
                }
                opacity: 1;
                i {
                    opacity: 1;
                    @include transform(scale(1));
                    @include transition(all 0.3s ease-in-out);
                }
            }
        }
        .info {
            .title {
                a {
                    color: $yellow-primary;
                }
            }
        }
    }
}

.au-btn-hover {
    vertical-align: middle;
    -webkit-transform: perspective(1px) translateZ(0);
    transform: perspective(1px) translateZ(0);
    box-shadow: 0 0 1px rgba(0, 0, 0, 0);
    -webkit-transition-duration: 0.3s;
    transition-duration: 0.3s;
    -webkit-transition-property: transform;
    transition-property: transform;
    &:hover {
        -webkit-transform: scale(1.1);
        transform: scale(1.1);
    }
}
.heading-page {
    position: relative;
    .container {
        position: absolute;
        top: 50%;
        left: 50%;
        @include transform(translate(-50%,-50%));
    }
    .au-page-title {
        h1 {
            font-size: 40px;
            color: #fff;
            font-weight: bold;
            text-transform: uppercase;
            padding-bottom: 15px;
        }
    }
}

.widget-title {
    h2 {
        font-size: 23px;
        font-weight: bold;
        margin-bottom: 30px;
    }
}
.form-contact {
    .wrap-group {
        &:hover {
            .btn-submit {
                background-color: darken($yellow-primary, 5%);
            }
        }
    }
}