$yellow-primary: #ff8300;
$black-title :#333;
$grey-primary: #666;
$grey-light : #999;
$green-color: #63c76a;
$pink-color: #ff4b5a;
$grey-background: #f2f2f2;
$blue-primary: #2c6ed5;
$green-light: #62d8b6;
$violet-color: #8058bd;