.idea/
.phpintel/
*.sublime-project

node_modules/
/vendor
/public/storage
/public/media
/public/modules
/public/themes
/Modules/*/Assets
/Themes/*/assets
mix-manifest.json
npm-debug.log
yarn-error.log
tags
*.map
.env
