.about {
	img {
		border-radius: $radius-default;
		width: 100%;
	}

	h4 {
		margin-bottom: 10px;
	}
}

.about-header {
	@extend .terms-and-conditions-header;
}

@media screen and (max-width: $md) {
	.about-right {
		margin-top: 30px;
	}
}