.my-account {
	.sidebar-menu {
		margin-top: 1px;

		ul {
			margin: 0;
		}

		li {
            display: block;

            @include themify {
                border-bottom: 1px solid themed('gray-lite');
            }

			&:first-child {
                @include themify {
                    border-top: 1px solid themed('gray-lite');
                }
			}

			a {
				position: relative;
				font-size: 16px;
				font-weight: 600;
				display: inline-block;
				padding: 15px 0;
				transition: 200ms ease-in-out;

				@include themify {
					color: themed('black');
				}

				&:hover {
					@include themify {
						color: themed('primary');
					}

					i {
						@include themify {
							color: themed('primary');
						}
					}
				}

				i {
					margin-right: 5px;
					transition: 200ms ease-in-out;

					@include themify {
					    color: themed('gray-dark');
					}
				}
			}

			&.active {
				a {
					@include themify {
					    color: themed('primary');
					}

					i {
						@include themify {
						    color: themed('primary');
						}
					}
				}
			}
		}
	}
}

.index-table {
	border-radius: $radius-default;
	padding: 10px 15px 5px;

	@include themify {
	    border: 1px solid themed('gray-lite');
	}

	> h3 {
    	margin: 25px 0 30px;
    }

    .table-responsive {
		th, td {
			&:first-child {
				padding-left: 0;
				width: 84px;
			}
		}

		td {
			border-top: none;
			padding: 12px 8px;
			vertical-align: middle;

			&:first-child .image-placeholder,
			&:first-child .image-holder {
				margin: 5px 0;
			}

			&:nth-child(2) {
				a {
					font-size: 16px;

					@include themify {
					    color: themed('black');
					}

					&:hover {
						@include themify {
						    color: themed('primary');
						}
					}
				}
			}
		}
	}

	.table-wishlist {
		td {
			@include themify {
			    border-top: 1px solid themed('white-lite');
			}
		}
	}

	.image-placeholder {
		border-radius: $radius-default;
		height: 70px;
		width: 75px;

		@include themify {
		    border: 1px solid themed('gray-lite');
		}

		> i {
			font-size: 36px;
		}
	}

	.image-holder {
		height: 70px;
		width: 75px;
	}

	.cross-button {
		position: relative;
		float: right;
	}

	.price {
		@include themify {
		    color: themed('primary');
		}

        > span {
            font-size: 15px;
            margin-left: 8px;
            text-decoration: line-through;

            @include themify {
			    color: themed('danger');
			}
        }
    }

    .in-stock {
		@include themify {
		    color: themed('success');
		}
    }

    .out-of-stock {
        @include themify {
		    color: themed('danger');
		}
    }
}

.account-details {
	border-radius: $radius-default;
	margin-bottom: 20px;
	padding: 10px 15px 5px;

	@include themify {
	    border: 1px solid themed('gray-lite');
	}

	.account {
		margin-bottom: 15px;
	}

	h4 {
		font-family: $font-opensans;
		font-weight: 600;
		margin-bottom: 15px;
		padding-bottom: 5px;

		@include themify {
		   border-bottom: 1px solid themed('default');
		}
	}
}

.order-details,
.order-address {
	h5 {
		font-family: $font-opensans;
	    font-weight: 600;
	    margin-bottom: 8px;

	    @include themify {
		    color: themed('black');
		}
	}
}

.order-details {
	margin-top: 15px;

	.table-responsive {
	    overflow: hidden;
	    margin: 0 -8px;
	}

	.table {
	    margin-bottom: 0;

	    td {
		    font-size: 15px;
		    color: #444444;
		    border: none;
		    padding: 4px 8px;

		    &:first-child {
			    font-weight: 600;
			    color: #292929;
            }
		}
	}
}

.order-address {
	margin-top: 30px;

	> span {
	    font-size: 15px;
	    display: block;
	    color: #444444;
	    padding: 4px 0;
	}
}

.orders-view-wrapper {
	margin-top: 30px;

	h3 {
		margin: 0 15px;
		padding-bottom: 5px;

		@include themify {
		    border-bottom: 1px solid themed('default');
		}
	}

	.cart-list {
		margin-top: 30px;
		padding: 0;
		border: none;

		.table-responsive {
			padding: 0;

			td {
				&:first-child {
					width: auto;
				}

				&:nth-child(3) {
					@include themify {
					    color: themed('black');
					}
				}
			}
		}
	}
}

.order-history {
	margin-top: 30px;

	h3 {
		margin: 0;
	}

	.table-responsive {
		margin-top: 10px;
	}

	.table > thead > tr > th:first-child,
	.table > tbody > tr > td:first-child {
		padding-left: 0;
	}

	.table > tbody > tr > td {
		border-top: none;
		padding-bottom: 18px;
	}
}

@media screen and (max-width: $md) {
	.my-account {
		.sidebar-menu {
			margin-top: 0;
			margin-bottom: 30px;
		}
	}
}

@media screen and (max-width: $sm) {
	.orders-view-wrapper {
		.cart-list {
			margin-top: 40px;

			@include themify {
			    border-top: 1px solid themed('default');
			}

			tbody > tr > td {
				&:first-child {
					display: block;
					padding: 16px 0 8px 0;
				}

				&:not(:first-child) {
					padding: 0 0 5px 0;
				}

				&:last-child {
					padding: 0 0 16px 0;
				}
			}
		}
	}
}
