.brands-wrapper {
    background: #f4f6f8;
    padding: 30px 0;

    .brands {
        .image-placeholder {
            height: 76px;

            > i {
                font-size: 36px;
            }
        }

        img {
            height: 60px;
            margin: auto;
        }
    }
}
