.contact-wrapper {
	margin-top: 30px;
}

.contact-left {
	padding-bottom: 20px;

	textarea {
		height: 160px;
	}

	.btn-submit {
		margin: 5px 15px 0 0;
	}
}

.contact-right {
	.contact-info {
		margin-bottom: 30px;

		&:last-child {
			margin-bottom: 0;
		}

		> i {
			font-size: 24px;

			@include themify {
				color: themed('primary');
			}
		}
	}

	.contact-text {
		margin-left: 40px;

		> h4 {
			margin-bottom: 5px;
		}

		> span {
			color: #737373;
			white-space: pre-wrap;
    		word-break: break-all;
		}
	}
}

@media screen and (max-width: $md) {
	.contact-right {
		margin-top: 50px;
	}
}
