.grid-products {
    display: grid;

    .product-card {
        margin-top: 40px;
        padding: 0 15px;

        &:before {
            height: 130px;
        }
    }
}

.recent-products {
    overflow: hidden;

    .grid-products {
        grid-template-columns: repeat(5, 1fr);
    }
}

@media screen and (min-width: 1200px) {
    .recent-products {
        .grid-products {
            .product-card:nth-child(-n+5) {
                margin-top: 20px;
            }
        }
    }
}

@media screen and (max-width: 1199px) {
    .recent-products {
        .grid-products {
            grid-template-columns: repeat(4, 1fr);
        }
    }
}

@media screen and (min-width: 992px) {
    .recent-products {
        .grid-products {
            .product-card:nth-child(-n+4) {
                margin-top: 20px;
            }
        }
    }
}

@media screen and (max-width: $md) {
    .recent-products {
        .grid-products {
            grid-template-columns: repeat(3, 1fr);
        }
    }
}

@media screen and (min-width: 681px) {
    .recent-products {
        .grid-products {
            .product-card:nth-child(-n+3) {
                margin-top: 20px;
            }
        }
    }
}

@media screen and (max-width: 680px) {
    .recent-products {
        .grid-products {
            grid-template-columns: repeat(2, 1fr);
        }
    }
}

@media screen and (min-width: 501px) {
    .recent-products {
        .grid-products {
            .product-card:nth-child(-n+2) {
                margin-top: 20px;
            }
        }
    }
}

@media screen and (max-width: 500px) {
    .recent-products {
        .grid-products {
            grid-template-columns: repeat(1, 1fr);

            .product-card:first-child {
                margin-top: 20px;
            }
        }
    }
}
