.product-list-header {
	@include themify {
		border-bottom: 1px solid themed('default');
	}

	.search-result-title {
		span {
			@include themify {
				color: themed('gray');
			}
		}
	}

	.nav-tabs {
		border: none;
		margin-right: 10px;

		> li {
			&.active a {
				@include themify {
					color: themed('primary') !important;
				}
			}

			> a {
				font-size: 20px;
				margin-top: 9px;
				padding: 0 8px;

				@include themify {
					color: themed('white-dark');
				}

				&:after {
					height: 0;
					width: 0;
				}

				&:hover {
					@include themify {
						color: themed('gray');
					}
				}

				i {
					-webkit-text-stroke: 0.5px #ffffff;
				}
			}
		}
	}

	.search-result-right {
		display: flex;
	}
}

.filter-section {
	margin-bottom: 20px;

	&:last-child {
		border-bottom: none;

		.filter-options {
			&:last-child {
				padding-bottom: 0;
			}
		}
	}

	.filter-category {
    	border-radius: 3px;
    	margin: 0;
    	padding: 6px 15px;

    	@include themify {
    		border: 1px solid themed('gray-lite');
    	}

		li {
			display: block;
            padding: 0;

			> ul {
				display: none;
            }

            &.active {
				> a {
					@include themify {
						color: themed('primary');
					}
				}
			}
		}

		> li {
			@include themify {
				border-bottom: 1px solid themed('white-lite');
			}

			&:last-child {
				border-bottom: none;
			}

			> i {
				margin-top: 13px;
			}

			> a {
				padding: 10px 0;
			}

			ul li {

				i {
					margin-top: 7px;
				}

				a {
					padding: 5px 0;
				}

				&:first-child {
					i {
						margin-top: 3px;
					}

					a {
						padding-top: 0;
					}
				}
			}
		}

		a {
			display: block;
			margin-left: 18px;
			transition: 200ms ease-in-out;

			@include themify {
				color: themed('gray-dark');
			}

			&:hover {
				@include themify {
					color: themed('primary');
				}
			}
		}

		i {
			transform: rotate(0deg);
			cursor: pointer;
            transition: 200ms ease-in-out;

            &.open {
                transform: rotate(90deg);
            }
		}

		ul {
			list-style: none;
			margin: 0 0 5px 15px;

			ul {
				margin: 0 0 0 20px;
			}
		}
	}

	.sub-category {
		> i {
			transform: rotate(0deg);
			transition: 200ms ease-in-out;
		}

		&.active > i {
			transform: rotate(90deg);
		}
	}

	.form-group {
		overflow: auto;
		margin-bottom: 0;
	}

	h4 {
		margin-bottom: 8px;

		@include themify {
			color: themed('gray-dark');
		}
	}

	.checkbox {
		float: left;
		margin-bottom: 5px;

		&:first-child {
			margin-top: 5px;
		}

		&:last-child {
			margin-bottom: 10px;
		}

		> label {
			font-size: 15px;
			word-break: break-all;
		}
	}
}

.rtl {
	.filter-section {
		.filter-category {
			i {
				transform: rotate(0deg) rotateY(180deg);
				cursor: pointer;
	            transition: 200ms ease-in-out;

	            &.open {
	                transform: rotate(90deg) rotateY(180deg);
	            }
			}
		}
	}
}

.price-range-picker {
	.form-group {
		margin-bottom: 20px;
	}

	.range-from,
	.range-to {
		font-family: $font-rubik;
		text-align: center;
		width: 100%;
	}

	.slider {
		height: 3px;
		border: none;
		border-radius: $radius-default;
		box-shadow: none;

		@include themify {
			background: themed('gray-lite');
		}
	}

	.noUi-connects {
		top: -3px;
	}

	.noUi-connect {
		@include themify {
			background: themed('primary');
		}
	}

	.noUi-handle {
		top: -9px;
		right: -8px !important;
		height: 14px;
		width: 14px;
		border-radius: 100%;
		box-shadow: none;
		border: none;
		cursor: e-resize;
		transition: 200ms ease-in-out;

		@include themify {
			background: themed('primary');
		}

		&:before, &:after {
			background: transparent;
		}
	}
}

.rtl {
	.price-range-picker {
		.noUi-handle {
			left: -8px !important;
		}

		.noUi-connect,
		.noUi-origin {
			transform-origin: 100% 0;
		}
	}
}

.btn-filter {
    margin-top: 30px;
}

.product-list-result {
	padding-bottom: 20px;

	@include themify {
		border-bottom: 1px solid themed('default');
	}

	.grid-products {
		grid-template-columns: repeat(3, 1fr);
	}

	.tab-pane {
		h3 {
			margin: 35px 0 15px;
			grid-column: 1/-1;
			text-align: center;
		}
	}
}

#grid-view {
	overflow: hidden;
}

.product-card-list {
	margin-bottom: 20px;
	padding-bottom: 20px;

	@include themify {
		border-bottom: 1px solid themed('gray-lite');
	}

	&:first-child {
		margin-top: 20px;
	}

	&:last-child {
		border-bottom: none;
		margin-bottom: 0;
		padding-bottom: 0px
	}

	.product-image {
		position: relative;
	}

	.image-holder {
		height: 140px;
		width: 180px;
	}

	.image-placeholder {
		height: 140px;
		width: 180px;
		border-radius: $radius-default;

		@include themify {
			border: 1px solid themed('gray-lite');
		}

		> i {
			font-size: 70px;
		}
	}

	.product-ribbon {
		position: absolute;
        right: 0;
        top: 10px;
        z-index: 2;

        > li {
            padding: 0;
            display: block;

            .ribbon {
                font-family: $font-opensans;
                font-weight: 300;
                font-size: 14px;
                position: relative;
                display: block;
                float: right;
                color: #ffffff;
                padding: 4px 5px 3px;
                margin-bottom: 10px;

                &:after {
                    position: absolute;
                    content: "";
                    top: 0;
                    right: 100%;
                    border-style: solid;
                    border-width: 12px 5px 15px 6px;
                }
            }
        }
	}

	.ribbon.bg-green {
        &:after {
            @include themify {
            	border-color: transparent themed('success') themed('success') transparent;
            }
        }
    }

    .ribbon.bg-red {
        &:after {
            @include themify {
            	border-color: transparent themed('danger') themed('danger') transparent;
            }
        }
    }

	.product-content {
		margin-left: 195px;
	}

	.product-name {
		display: inline-block;

		> h5 {
			transition: 200ms ease-in-out;

			@include themify {
				color: themed('gray-dark');
			}

			&:hover {
				@include themify {
					color: themed('black-lite');
				}
			}
		}
	}

	.product-price {
		font-size: 18px;
		display: table;
		margin-top: 8px;

		.previous-price {
			font-size: 15px;
		}
	}

	p {
		margin-top: 6px;
	}

	.product-card-buttons {
		display: flex;
		margin-top: 12px;
	}

	.btn-wishlist, .btn-compare {
		background: transparent;
		margin-right: 8px;
		padding: 10px 0;
		width: 48px;
		text-align: center;
		border-radius: $radius-default;

		@include themify {
			border: 1px solid themed('default');
		}

		&:hover {
			@include themify {
				color: themed('primary');
				border-color: themed('primary');
			}
		}
	}

	.add-to-cart[disabled] {
		&:hover {
			@include themify {
				background: themed('primary');
			}
		}
	}
}

@media screen and (max-width: $sm) {
	.price-range-picker {
		.form-group .col-md-6:nth-child(2) {
			margin-top: 0;
		}
	}
}

@media screen and (max-width: $md) {
	.product-list-header {
		margin-top: 40px;
	}
}

@media screen and (max-width: $xs) {
	.product-list {
		.pagination {
			margin-top: 15px;
		}
	}
}

@media screen and (min-width: $xs) and (max-width: $sm) {
	.price-range-picker {
		.form-group .col-md-6 {
			width: 30%;
		}
	}
}

@media screen and (min-width: 681px) {
	.product-list-result {
		.grid-products {
			.product-card:nth-child(-n+3) {
				margin-top: 20px;
			}
		}
	}
}

@media screen and (max-width: 680px) {
	.product-list-result {
		.grid-products {
			grid-template-columns: repeat(2, 1fr);
		}
	}
}

@media screen and (max-width: 650px) {
	.product-list-header {
		.search-result-title {
			float: none !important;
			display: block;
		}

		.search-result-right {
			float: left !important;
			margin-top: 10px;
		}
	}
}

@media screen and (max-width: 520px) {
	.product-card-list {
		.product-image {
			float: none !important;
			display: table;
		}

		.product-content {
			clear: both;
			display: block;
			margin: 12px 0 0 0;
		}
	}
}

@media screen and (min-width: 501px) {
	.product-list-result {
		.grid-products {
			.product-card:nth-child(-n+2) {
				margin-top: 20px;
			}
		}
	}
}

@media screen and (max-width: 500px) {
	.product-list-result {
		.grid-products {
			grid-template-columns: repeat(1, 1fr);
		}
	}
}
