.top-nav {
    padding: 5px 0 6px;

    @include themify {
        background: themed('primary-darken');
    }

    ul li {
        padding: 0;

        a {
            font-size: 15px;
            transition: 200ms ease-in-out;

            @include themify {
                color: themed('white-lite');
            }

            &:hover {
                color: #ffffff;
            }
        }
    }
}

.rtl {
    .top-nav {
        ul li {
            a > span {
                float: right;
                margin-left: 3px;
            }
        }
    }
}

.top-nav-left {
    ul {
        margin-left: 0;

        li {
            margin-right: 15px;

            &:last-child {
                vertical-align: top;
                margin-right: 0;
            }
        }
    }

    .top-nav-select {
        font-size: 15px;
        border: none;
        outline: none;

        @include themify {
            color: themed('white-lite');
        }

        > option {
            @include themify {
                color: themed('black');
            }
        }
    }
}

.top-nav-right {
    ul li {
        margin-right: 15px;

        &:last-child {
            margin-right: 0;
        }
    }
}

@media screen and (max-width: 700px) {
    .top-nav-left {
        float: none !important;
        text-align: center;
    }

    .top-nav-right {
        float: none !important;
        text-align: center;
        margin-top: 5px;
    }
}
